<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Generador KML</title>
   <%= javascript_include_tag :defaults %>

  <!-- Contenido extra de la cabecera -->
  <%= yield(:head) %>
  
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'estilo' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <!--[if IE]>
		<link rel="stylesheet" href="../stylesheets/estilo_ie.css" type="text/css" media="screen" charset="utf-8" />
	<![endif]-->
</head>
<body style="background: #EEEEEE;">
	
	<div id="cabecera" class="container_12">
		<div class="grid_12">
			<img id="logo" src="/images/varios/logo.png" alt="logo" width="334" height="52"/>
			<div	class="clear"></div>
		</div>
		
		<div class="grid_12" id="breadcrumb">
			<div class="grid_11 prefix_1">
				<ul>
					<li class="actual primero">1. Elegir localización</li>
					<li>2. Agregar contenido</li>
					<li>3. Obtener fichero</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="main" class="container_12">
		<%= yield  %>
	</div>
</body>
</html>