<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Generador KML</title>
   <%= javascript_include_tag :defaults %>

  <!-- Contenido extra de la cabecera -->
  <%= yield(:head) %>
  
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag '960' %>
  <%= stylesheet_link_tag 'estilo' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <!--[if IE]>
		<link rel="stylesheet" href="../stylesheets/estilo_ie.css" type="text/css" media="screen" charset="utf-8" />
	<![endif]-->
</head>
<body style="">
	
	<div id="cabecera" class="container_12">
		<div class="grid_12">
			<%= link_to(image_tag('varios/logo.png', :size => "334x52", :border => 0, :id => "logo"), :controller => "kml")%>
		</div>
			
		<div class="container_12" >
			<div id="breadcrumb" class="grid_11 prefix_1">
				<ul>
					<li class="<%= "actual" if controller.action_name == "index"%>">1. Elegir localización</li>
					<li class="<%= "actual" if controller.action_name == "descripcion"%>">2. Agregar contenido</li>
					<li class="ultimo <%= "actual" if controller.action_name == "descargar_fichero"%>">3. Obtener fichero</li>
				</ul>
			</div>
		</div>
		
	</div>
	
	<div class="clear"></div>
	
	<div id="wrapper" class="container_12">
		<!-- contenedo de los mensajes -->
		<div class="grid_6 prefix_3 suffix_3">
			<div id="error" class="mensaje" style="display:none;">Esto es un mensaje de error</div>
			<div id="info" class="mensaje" style="display:none;">Esto es un mensaje de info</div>
			<div id="notice" class="mensaje" style="display:none;">Esto es un mensaje de notice</div>
			<div id="success" class="mensaje" style="display:none;">Esto es un mensaje de success</div>
		</div>
		
		<!-- contenedor principal -->
		<div id="main" class="grid_10 prefix_1 suffix_1">
			<%= yield  %>
			<div class="clear"></div>
		</div>
	</div>
	
</body>
</html>